<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body style="background-color: white;">
    <img src="../static/images/404.png" alt="Something went wrong. Check your internet connection."
         style="height: 300px; width: auto; position: absolute; left: 30%; top: 20%;">
</body>

{#alt = альтернатива, якщо фото не показує, то буде видно текст
  position відносно всієї сторінки = фото буде у правому верхньому куту і щоб його зрушити застосовуємо left, right
  head - всередині цього тегу зберігаються стилі, посилання і т.д.#}

</html>