{% extends 'base.html' %}

{% block title %} View Orders {% endblock %}


{% block body %}
<style>
    .status-canceled td{
        color: #ff6666;
    }

    .status-delivered td{
        color: #66ff66;
    }
</style>

<table class="table table-bordered table-dark table-hover">
    <thead>
        <tr>
{#            <th scope="col">Order ID</th>#}
            <th scope="col">Payment ID</th>
            <th scope="col">UserName</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Categories</th>
            <th scope="col">Description</th>
            <th scope="col">Picture</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

        </tr>
    </thead>

    <tbody>

        {% for order in orders %}

        <tr class="{% if order.status == 'Delivered' %}
                   status-delivered
                   {% elif order.status == 'Canceled' %}
                   status-canceled
                   {% endif %}">

{#            <td>{{ order.id }}</td>#}
            <td>{{ order.payment_id }}</td>
            <td>{{ order.customer.username }}</td>
            <td>{{ order.customer.email }}</td>
            <td>{{ order.product.product_name }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.quantity }}</td>
            <td>
               <ul>
                 {% for category in order.product.categories %}
                    <li>{{ category.category_name }}</li>
                 {% endfor %}
               </ul>
            </td>

            <td style="max-width: 300px">
                <p style="text-align: justify">{{ order.product.product_description[:50] }}
                    <span id="dots{{ order.product.id }}">...</span>
                    <span id="more{{ order.product.id }}" style="display: none"> {{  order.product.product_description[50:] }}</span>
                </p>
            <button onclick="myFunction('{{ order.product.id }}')" id="myBtn{{ order.product.id }}">Read more</button>
            </td>

            <td><img src="{{ order.product.product_picture }}" alt="" style="height: 50px; width: 50px; border-radius: 2px;"></td>

            <td>{{ order.status}}</td>


            <td>
                <a href="/update-order/{{ order.id }}"> Update Status</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}